.hero h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
}
.hero p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;
}
.hero h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.hero{
    text-align: center;
    background: #F9F7FE;
    margin-top: 0;
    padding: 160px 20px;
}
.btn-branding{
    background: #6C63FF;
border-radius: 4px;
color:white;
font-size: 18px;
line-height: 27px;
font-family: 'Poppins', sans-serif;
padding: 15px 30px;
}
h2{
    font-size: 54px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.btn-branding-outline{
    background: white;
    border-radius: 4px;
    color:#6C63FF;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 30px;
    border: 1px solid #6C63FF;
}

.project-description {
    padding: 40px 40px;
}
@media (max-width:900px){
    .project-description{
        padding: 10px;
        text-align: center;
    }
    h2{
        font-size: 44px;
    }
    p {
        font-size: 14px}
    .hero h1{
        font-size: 44px;
    }
    .hero{
        padding: 80px 20px;
    }
    .hero h2{
        font-size: 20px;
    }
    .hero p{
        font-size: 24px;
    }
}

