.hero h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
}
.hero p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;
}
.hero h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.hero{
    text-align: center;
    background: #F9F7FE;
    margin-top: 0;
    padding: 160px 20px;
}
.btn-branding{
    background: #6C63FF;
border-radius: 4px;
color:white;
font-size: 18px;
line-height: 27px;
font-family: 'Poppins', sans-serif;
padding: 15px 30px;
}
h2{
    font-size: 54px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
h4{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}
.btn-branding-outline{
    background: white;
    border-radius: 4px;
    color:#6C63FF;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 30px;
    border: 1px solid #6C63FF;
}

.project-description {
    padding: 40px 40px;
}
@media (max-width:900px){
    .project-description{
        padding: 10px;
        text-align: center;
    }
    h2{
        font-size: 44px;
        text-align: center;
    }
    p {
        font-size: 14px;
        text-align: center;
    }
    .hero h1{
        font-size: 44px;
        text-align: center;
    }
    .hero{
        padding: 80px 20px;
        text-align: center;
    }
    .hero h2{
        font-size: 20px;
        text-align: center;
    }
    .hero p{
        font-size: 24px;
        text-align: center;
    }
    .content-container{
        
        margin: 0;
    }
    .content{
        padding: 30px;
        text-align: center;
    }
    .img-fluid{
        display: block;
        margin: 0 auto;
    }
    footer .contact-box{
        padding: 30px;
    }
    h4{
        font-size: 26px;
    }

}
.content-container{
    padding: 160px 20px;
    font-family: 'Poppins', sans-serif;
}

.content-container h1{
    font-size: 40px;
    line-height: 1.5;
}
.content-container h2{
    font-size: 26px;
    line-height: 1.5; 
}
.content-container p{
    font-size: 18px;
    line-height: 2; 
}
.content h3{
    font-size: 28px;
    font-weight: bold;
    line-height:1.5;
    margin: 20px 0 0;
}
.content h1{
    font-size: 54px;
    font-weight:900;
     }
.logo{
    max-width: 150px;
     }
nav li{
    list-style: none;
    display: inline;
    font-weight: bold;
    line-height: 42px; 
    margin-left: 15px;
    
}
nav ul{
    margin: 0;
    padding: 0;
}
nav{
    padding: 30px;
}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
color: #6C63FF;
}
footer .contact-box{
    background-color: #F9F7FE;
    padding: 30px 120px;
    border-radius: 10px;
}
footer .email-link {
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

footer{
    margin: 60px 0;
}
footer .social-links a{
    margin: 0 20px;
    color: #6C63FF;
    background-color: #F9F7FE;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer .email-link:hover{
    color:#6C63FF;
    }
    footer .social-links a:hover{
        color:white;
        background-color: #6C63FF;
    }
    footer .contact-box p{
        margin: 0;
    }